<app-navbar></app-navbar>
<div class="dashboard-container  fade-enter-active" @fadeInOut>
  <h2>Lista de Maestros</h2>
  
  <div class="filter-container">
    <div class="form-group">
      <label for="filterFecha">Filtrar por Fecha:</label>
      <input type="date" id="filterFecha" [(ngModel)]="filterFecha" class="form-control" (ngModelChange)="applyFilters()" />
    </div>
    <div class="form-group">
      <label for="filterImei">Filtrar por IMEI:</label>
      <input type="text" id="filterImei" [(ngModel)]="filterImei" class="form-control" (ngModelChange)="applyFilters()" />
    </div>
    <div class="form-group">
      <label for="filterMonitor">Filtrar por Monitor:</label>
      <input type="text" id="filterMonitor" [(ngModel)]="filterMonitor" class="form-control" (ngModelChange)="applyFilters()" />
    </div>
    <div class="form-group">
      <label for="filterRegion">Filtrar por Región:</label>
      <input type="text" id="filterRegion" [(ngModel)]="filterRegion" class="form-control" (ngModelChange)="applyFilters()" />
    </div>
    <div class="form-group">
      <label for="filterMarca">Filtrar por Marca Celular:</label>
      <input type="text" id="filterMarca" [(ngModel)]="filterMarca" class="form-control" (ngModelChange)="applyFilters()" />
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Fecha entrega</th>
          <th>Monitor</th>
          <th>Nombre Maestro</th>
          <th>Región</th>
          <th>Descripción</th>
          <th>Marca Celular</th>
          <th>Modelo</th>
          <th>imei</th>
          <th>Firma</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let maestro of paginatedMaestros">
          <td>
            <span *ngIf="!maestro.editing">{{ maestro.fechaRecibe }}</span>
            <input *ngIf="maestro.editing" [(ngModel)]="maestro.fechaRecibe" class="form-control" />
          </td>
          <td>
            <span *ngIf="!maestro.editing">{{ maestro.nombre }}</span>
            <input *ngIf="maestro.editing" [(ngModel)]="maestro.nombre" class="form-control" />
          </td>
          <td>
            <span *ngIf="!maestro.editing">{{ maestro.NombreMaestro }}</span>
            <input *ngIf="maestro.editing" [(ngModel)]="maestro.NombreMaestro" class="form-control" />
          </td>
          <td>
            <span *ngIf="!maestro.editing">{{ maestro.region }}</span>
            <input *ngIf="maestro.editing" [(ngModel)]="maestro.region" class="form-control" />
          </td>
          <td class="descripcion-col">
            <span *ngIf="!maestro.editing">{{ maestro.descripcionEntrega }}</span>
            <input *ngIf="maestro.editing" [(ngModel)]="maestro.descripcionEntrega" class="form-control" />
          </td>
          <td>
            <span *ngIf="!maestro.editing">{{ maestro.marca }}</span>
            <input *ngIf="maestro.editing" [(ngModel)]="maestro.marca" class="form-control" />
          </td>
          <td>
            <span *ngIf="!maestro.editing">{{ maestro.modelo }}</span>
            <input *ngIf="maestro.editing" [(ngModel)]="maestro.modelo" class="form-control" />
          </td>
          <td>
            <span *ngIf="!maestro.editing">{{ maestro.imei }}</span>
            <input *ngIf="maestro.editing" [(ngModel)]="maestro.imei" class="form-control" />
          </td>
          <td><img [src]="maestro.firmaEntrega" alt="Firma" width="100"></td>
          
          <td>
       
            <button class="btn btn-danger action-button btn-eliminar" (click)="deleteMaestro(maestro.Mid)">
              <i class="fa-solid fa-right-to-bracket"></i>Recibir 
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
  <div class="pagination-container">
    <button class="btn btn-pagination" (click)="previousPage()" [disabled]="currentPage === 1"><i class="fa-solid fa-arrow-left"></i></button>
    <span>Página {{ currentPage }}</span>
    <button class="btn btn-pagination" (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= maestros.length"><i class="fa-solid fa-arrow-right"></i></button>
  </div>
  <div class="button-container">
    <button class="btn btn-success btn-agregar" (click)="navigateToAddMaestro()">
      <i class="fa-solid fa-user-plus"style="margin-right: 10px;"></i> Hacer entrega de celular
    </button>
  </div>
</div>