.navbar {
  background-color: #1F2933; /* Color oscuro */
  padding: 1rem 2rem; /* Más ancho */
}

.navbar-brand, .offcanvas-title {
  color: #F8F9FA; /* Color claro para el texto */
}

.navbar-toggler {
  border-color: #F8F9FA; /* Color claro para el borde del toggler */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23F8F9FA' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.offcanvas {
  background-color: #1F2933; /* Color oscuro */
}

.custom-btn {
  border-radius: 20px; /* Bordes redondeados */
  transition: all 0.3s ease; /* Transición suave */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.custom-btn:hover {
  transform: translateY(-2px); /* Efecto de elevación al pasar el mouse */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más intensa */
}

.btn-outline-light {
  color: #F8F9FA; /* Color claro para el texto */
  border-color: #F8F9FA; /* Color claro para el borde */
}

.btn-outline-light:hover {
  background-color: #F8F9FA; /* Color claro para el fondo al pasar el mouse */
  color: #1F2933; /* Color oscuro para el texto al pasar el mouse */
}

.btn-outline-danger {
  color: #f44336; /* Color rojo suave para el texto */
  border-color: #f44336; /* Color rojo suave para el borde */
}

.btn-outline-danger:hover {
  background-color: #f44336; /* Color rojo suave para el fondo al pasar el mouse */
  color: #F8F9FA; /* Color claro para el texto al pasar el mouse */
}

.btn-close {
  color: #F8F9FA; /* Color claro para el botón de cerrar */
}
@media (max-width: 768px) {
  .table th, .table td {
    padding: 8px 10px;
    font-size: 12px;
  }

  .table th {
    display: none; /* Ocultar encabezados de columna en pantallas pequeñas */
  }

  .table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .table td::before {
    content: attr(data-label); /* Mostrar el encabezado de la columna como contenido antes de cada celda */
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  .table tbody tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  .table tbody tr:hover {
    background-color: transparent; /* Desactivar el fondo al pasar el mouse en pantallas pequeñas */
  }

  .pagination-container {
    text-align: center;
  }

  .button-container .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}