<app-navbar></app-navbar>
<div class="ver-maestros-activos-container fade-enter-active" @fadeInOut>
  <h2>Celulares Activos</h2>
  <div *ngIf="loading" class="loading-indicator">
    <p>Cargando datos...</p>
  </div>
  <div *ngIf="!loading" class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Nombre Maestro</th>
          <th>Firma</th>
          <th class="descripcion-col">Descripción</th>
          <th>Estado</th>
          <th>Región</th>
          <th>Persona a cargo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let maestro of paginatedMaestros" [ngClass]="{'activo': maestro.estado === 'activo', 'inactivo': maestro.estado === 'INACTIVO'}">
          <td data-label="Nombre">{{ maestro.nombre }}</td>
          <td data-label="Nombre Maestro">{{maestro.NombreMaestro}}</td>
          <td data-label="Firma"><img [src]="maestro.firmaEntrega" alt="Firma" width="100"></td>
          <td data-label="Descripción" class="descripcion-col">{{ maestro.descripcionEntrega }}</td>
          <td data-label="Estado">{{ maestro.estado }}</td>
          <td data-label="Región">{{ maestro.region }}</td>
          <td data-label="Persona a cargo">{{ maestro.usuarios.nombre }} {{ maestro.usuarios.apellido }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!loading" class="pagination-container">
    <button class="btn btn-pagination" (click)="previousPage()" [disabled]="currentPage === 1"><i class="fa-solid fa-arrow-left"></i></button>
    <span>Página {{ currentPage }}</span>
    <button class="btn btn-pagination" (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= maestrosActivos.length"><i class="fa-solid fa-arrow-right"></i></button>
  </div>
</div>