<app-navbar></app-navbar>
<div class="agregar-maestro-container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-grid">
      <div class="form-group">
        <label for="nombre"
          >Monitor<i
            class="fa-solid fa-map-location"
            style="margin-left: 10px"
          ></i
        ></label>
        <select id="nombre" [(ngModel)]="maestro.nombre" name="nombre" required>
          <option value="" disabled selected>Seleccione un Monitor</option>
          <option value="Luisa-rodriguez">Luisa Rodriguez</option>
          <option value="Carmen">Carmen</option>
          <option value="Roxana">Roxana</option>
          <option value="Oswaldo">Oswaldo</option>
          <option value="Luis-enrique">Luis Enrique</option>
          <option value="Macaco">Macaco</option>
          <option value="Henyer">Henyer</option>
          <option value="Jean-carlos">Jean Carlos</option>
          <option value="Feliz">Feliz</option>
          <option value="Biter">Biter</option>
          <option value="Tarot">Tarot</option>
          <option value="Oficina">Oficina</option>
        </select>
      </div>

      <div class="form-group">
        <label for="NombreMaestro">Nombre Maestro</label>
        <input
          type="text"
          id="NombreMaestro"
          [(ngModel)]="maestro.NombreMaestro"
          name="NombreMaestro"
          required
        />
      </div>

      <div class="form-group">
        <label for="region"
          >Región de operación<i
            class="fa-solid fa-map-location"
            style="margin-left: 10px"
          ></i
        ></label>
        <select id="region" [(ngModel)]="maestro.region" name="region" required>
          <option value="" disabled selected>Seleccione una región</option>
          <option value="Chile">Chile</option>
          <option value="Ecuador">Ecuador</option>
          <option value="Perú">Perú</option>
          <option value="Bolivia">Bolivia</option>
          <option value="México">México</option>
          <option value="España">España</option>
          <option value="Colombia">Colombia</option>
          <option value="Argentina">Panamá</option>
        </select>
      </div>
      <div class="form-group">
        <label for="marca"
          >Marca Celular <i class="fa-solid fa-mobile"></i
        ></label>
        <input
          type="text"
          id="marca"
          [(ngModel)]="maestro.marca"
          name="marca"
        />
      </div>
      <div class="form-group">
        <label for="modelo">Modelo Celular</label>
        <input
          type="text"
          id="modelo"
          [(ngModel)]="maestro.modelo"
          name="modelo"
        />
      </div>
      <div class="form-group">
        <label for="imei">Imei</label>
        <input type="text" id="imei" [(ngModel)]="maestro.imei" name="imei" />
      </div>
      <div class="form-group full-width">
        <label for="descripcionEntrega">Descripción</label>
        <textarea
          id="descripcionEntrega"
          [(ngModel)]="maestro.descripcionEntrega"
          name="descripcionEntrega"
          required
        ></textarea>
      </div>
      <div class="form-group full-width signature-container">
        <label for="firmaEntrega"
          >Firma <i class="fa-solid fa-signature" style="margin-left: 10px"></i
        ></label>
        <div class="form-group">
          <canvas #signaturePad class="signature-pad"></canvas>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <button type="button" class="btn-limpiar" (click)="clearSignature()">
        Limpiar Firma
        <i class="fa-solid fa-delete-left" style="margin-left: 5px"></i>
      </button>
      <button type="submit" class="btn-agregar">
        Agregar Maestro<i
          class="fa-solid fa-user-plus"
          style="margin-left: 10px"
        ></i>
      </button>
    </div>
  </form>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <button type="button" class="btn-cancelar" (click)="navigateToDashboard()">
    Cancelar <i class="fa-solid fa-xmark" style="margin-left: 10px"></i>
  </button>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
