.agregar-maestro-container {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  font-family: 'Roboto', sans-serif;
  margin: 20px auto;
  margin-top: 100px; /* Agrega un margen superior para separar del navbar */
}

.agregar-maestro-container h2 {
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

.agregar-maestro-container .form-group {
  margin-bottom: 15px;
}

.agregar-maestro-container label {
  display: block;
  margin-bottom: 8px;
  color: #555555;
  font-weight: bold;
}

.agregar-maestro-container input[type="text"],
.agregar-maestro-container input[type="email"],
.agregar-maestro-container input[type="password"],
.agregar-maestro-container textarea,
.agregar-maestro-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.agregar-maestro-container .btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.agregar-maestro-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.agregar-maestro-container .btn-limpiar {
  background-color: #ffcc00; /* Color amarillo */
  border-radius: 50px;
  color: #333333;
  font-family: 'Roboto', sans-serif;
}

.agregar-maestro-container .btn-limpiar:hover {
  background-color: #e6b800;
  border-radius: 50px;
}

.agregar-maestro-container .btn-agregar {
  background-color: #28a745; /* Color verde */
  border-radius: 50px;
  color: white;
}

.agregar-maestro-container .btn-agregar:hover {
  background-color: #218838;
  border-radius: 50px;
  border-radius: 50px;
}

.agregar-maestro-container .btn-cancelar {
  background-color: #dc3545; /* Color rojo */
  color: white;
  border-radius: 50px;
  text-align: center;
  width: 50%; /* Ajusta el ancho según tus necesidades */
  padding: 10px 20px; /* Ajusta el padding según tus necesidades */
  margin: 20px auto; /* Centrar el botón horizontalmente y agregar un margen superior */
  margin-top: 30px;
  display: block; /* Asegura que el botón se comporte como un bloque */
}

.agregar-maestro-container .btn-cancelar:hover {
  background-color: #c82333;
}

.agregar-maestro-container .error-message {
  color: #ff0000;
  margin-top: 10px;
  text-align: center;
}

.agregar-maestro-container .success-message {
  color: #28a745;
  margin-top: 10px;
  text-align: center;
}

/* Estilos específicos para el área de firma */
/* Área de firma */
.signature-pad {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  height: 300px;
  margin-top: 10px;
  touch-action: none; /* Asegura que los eventos táctiles se manejen correctamente */
  box-sizing: border-box;
}

/* Estilos para organizar los campos en dos columnas */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-grid .form-group {
  margin-bottom: 0;
}

.form-grid .form-group.full-width {
  grid-column: span 2;
}
/* Estilos responsivos */
@media (max-width: 768px) {
  .table th, .table td {
    padding: 8px 10px;
    font-size: 12px;
  }
 
  .table th {
    display: none; /* Ocultar encabezados de columna en pantallas pequeñas */
  }

  .table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .table td::before {
    content: attr(data-label); /* Mostrar el encabezado de la columna como contenido antes de cada celda */
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  .table tbody tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  .table tbody tr:hover {
    background-color: transparent; /* Desactivar el fondo al pasar el mouse en pantallas pequeñas */
  }

  .pagination-container {
    text-align: center;
  }

  .button-container .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}