body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    height: 100vh;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 150px; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción */
}

.login-container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    color: #555555;
    font-weight: bold;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-container .link {
    text-align: center;
    margin-top: 10px;
}

.login-container .link a {
    color: #007BFF;
    text-decoration: none;
}

.login-container .link a:hover {
    text-decoration: underline;
}